bower_components/
build/
node_modules/

############################################################################
# Jetbrains
############################################################################
## File-based project format
.idea
.shelf

