<link rel="import" href="../polymer/polymer-element.html">

<!--
`auth0-element`
An element that makes it easy to declaratively use auth0

@demo demo/index.html
-->

<dom-module id="auth0-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    class Auth0Element extends Polymer.Element {
      static get is() {return 'auth0-element'}
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'auth0-element'
          }
        }
      }
    };
    customElements.define(Auth0Element.is, Auth0Element);
  </script>
</dom-module>
