<link rel="import" href="../polymer/polymer.html">

<!--
`auth0-element`
An element that makes it easy to declaratively use auth0

@demo demo/index.html 
-->

<dom-module id="auth0-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'auth0-element',

      properties: {
        prop1: {
          type: String,
          value: 'auth0-element',
        },
      },

    });
  </script>
</dom-module>
