<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../polymerfire/firebase-app.html">
<link rel="import" href="../../polymerfire/firebase-auth.html">
<link rel="import" href="../auth0-auth.html">
<link rel="import" href="../auth0-delegate.html">
<link rel="import" href="../../paper-button/paper-button.html">
<link rel="import" href="../../app-route/app-location.html">
<link rel="import" href="../../app-route/app-route.html">

<dom-module id="auth0-element-demo">
  <template>
    <style>
      :host {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
      }
    </style>

    <app-location id="route" route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page"
               query-params="{{params}}"></app-route>

    <auth0-auth
            id="auth0"
            client-id="LP1BxaYQm2NQTZG64MQqHmI2xxDiRMaf"
            domain="johnlim.au.auth0.com"
            options="{{auth0Options}}"
            logout-redirect-to="{{logoutRedirectUri}}"
            user-profile={{user}}
            id-token="{{idToken}}"
            query-params="{{params}}"
            jwt-manager>
    </auth0-auth>

    <auth0-delegate
            client-id="LP1BxaYQm2NQTZG64MQqHmI2xxDiRMaf"
            domain="johnlim.au.auth0.com"
            options="{{firebaseDelegate}}"
            id-token="[[idToken]]"
            delegate-token="{{firebaseDelegateToken}}">
    </auth0-delegate>

    <firebase-app auth-domain="auth0-element-demo.firebaseio.com"
                  database-url="https://auth0-element-demo.firebaseio.com/"
                  api-key="AIzaSyAT3zy3a4hz0sXr3dNGVK6NKVC7tTMys6c"
                  name="auth0-element-demo">
    </firebase-app>

    <firebase-auth id="firebase"
                   user="{{firebaseUser}}"
                   on-error="_handleError"
                   app-name="auth0-element-demo">
    </firebase-auth>
    <paper-button id="signout" raised on-tap="signout">Sign out</paper-button>
    <h3>Firebase UID: {{firebaseUser.uid}}</h3>
  </template>

  <script>
    Polymer({

      is: 'auth0-element-demo',

      properties: {
        user: {
          type: Object,
          value: function(){return{};}
        },
        idToken: {
          type: String,
        },
        firebaseDelegate: {
          value: function() {
            var firebase = {
              api : 'firebase',
              scope : 'openid name email displayName'
            };
            return firebase;
          }
        },

        firebaseDelegateToken: {
          type: String,
          value: '',
          observer: 'signIntoFirebase'
        },
        firebaseUser: {
          value: null
        },
        auth0Options: {
          type: Object,
          value: function () {
            return {
              auth: {
                params: {
                  scope: 'openid email', //lock options
                },
                scope: 'openid email',
                redirectUri: window.location.href,
                responseType: 'token id_token',
                connection: 'Username-Password-Authentication',

              },
              allowedConnections: ['Username-Password-Authentication', 'twitter'],
              closable: false,
            }
          }
        },
        route: {
          type: Object
        },
        params: {
          type: Object
        },
        logoutRedirectUri: {
            value: window.location.href
        }
      },
      signIntoFirebase: function(token) {
        if(token) {
          this.$.firebase.signInWithCustomToken(token).catch(function(error) {
            console.log(error);
          });
        }
      },
      signout: function() {
        this.$.firebase.signOut();
        this.$.auth0.signOut('LP1BxaYQm2NQTZG64MQqHmI2xxDiRMaf');
      }

    });
  </script>
</dom-module>

